.login{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;


   .login-box{
     padding: 40px;
     border-radius: 4px;
     min-width: 400px;
     border: 1px solid black;
   }
   label , input{
    display: block;
    width: 100%;
    margin-block: 8px;   
   }   
   .heading {
    text-align: center;
   } 
   .subheading{
    margin-top: 16px;
   }
   input{
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 16px;
   } 
   label{
    font-weight: bold;
   }
   .submit{
    background-color: #29b4ff;
    color: white;
    border: none;
    margin-top: 16px;
   } 
   .submit:hover{
    background-color: #249dde;
   }
}

   